<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سلف دانشگاه</title>
    <link href="/images/favicon.png" rel="icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}  
        <div id="MC" class="main-text-content">
            <h3>اعلان ها:</h3>
            <p>1. در صورت هر گونه مشکل از طریق صفحه <a href="/help">پشتیبانی</a> با ما در ارتباط باشید.</p>
            <p>2. برای حذف ژتون باید از 48 ساعت قبل اقدام کنید.</p>
            <p>3. مبلغ ژتون حذف شده به اعتبار شما اضافه خواهد شد.</p>
        </div>

    </div>

    {{>footer}}
    <script src="/js/index.js"></script>
</body>
</html>