<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سلف دانشگاه پیام نور واحد همدان</title>
    <link href="/images/favicon.png" rel="icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>kitchenHeader}}
        <h2 id="DaysTitle">پیگیری خرید های دانشجو</h3>
        <div class="kitchenMainContent">
                <label>
                    شماره دانشجویی: <input type="text" id="studentNumberToCheck" class="dayInput" placeholder="شماره دانشجویی">
                </label>
                <button id="checkButton">پیگیری</button>
                <div class="studentOrdersContainer"></div>
        </div>
    </div>
    {{>footer}}
    <script src="/js/kitchen/kitchenStudent.js"></script>
</body>
</html>