<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>سلف دانشگاه</title>
    <link href="/images/favicon.png" rel="icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        <header>
            <h1>سلف دانشگاه</h1>
            <h3>خرید آسان ژتون سلف دانشگاه</h3>
            <a href="/">صفحه اصلی</a>
            <a href="/kitchen/login">ورود سلف</a>
        </header>
        <div class="login">
            <h3 id="kitchenLoginTitle">ورود سلف</h3>
            <div class="login-form">
                <input type="text" placeholder="نام کاربری" class="login-input" id="kitchenUser" required autofocus autocomplete="off">
                <input type="password" placeholder="رمز" class="login-input" id="kitchenPass" required> <br>
            </div>
            <button id="kitchenLoginButton">ورود</button>
        </div>

    </div>
    {{>footer}}
    <script src="/js/kitchen/kitchenLogin.js"></script>
</body>
</html>