<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>پشتیبانی | سلف دانشگاه پیام نور واحد همدان</title>
    <link href="/images/favicon.png" rel="icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>studentHeader}}
        {{>help}}
    </div>
    {{>footer}}
    <script src="/js/student/studentGeneral.js"></script>
</body>
</html>