<header>
    <h1>سلف دانشگاه پیام نور</h1>
    <a href="/admin">صفحه اصلی</a>
    <a href="/admin/changepass">تغییر رمز</a>
    <a id="logoutButton">خروج</a>
    <h4>صفحات مربوط به دانشجو:</h4>
    <a href="/admin/student">مدیریت دانشجو ها</a>
    <a href="/admin/student/orders">ژتون های دانشجو</a>
    <a href="/admin/student/payments">تراکنش های دانشجو</a>
    <h4>صفحات مربوط به سلف:</h4>
    <a href="/admin/kitchen">مدیریت کارکنان</a>
    <a href="/admin/days">مدیریت روز ها</a>
</header>