<header>
    <h1>سلف دانشگاه پیام نور</h1>
    <h3>خرید آسان ژتون سلف دانشگاه پیام نور واحد همدان</h3>
    <a id="homeLink">صفحه اصلی</a>
    <a id="loginLink">ورود دانشجو</a>
    <a id="helpLink">پشتیبانی</a>
</header>
