<header>
    <h1>سلف دانشگاه پیام نور</h1>
    <a href="/kitchen">صفحه اصلی</a>
    <a href="/kitchen/days">مدیریت روز ها</a>
    <a href="/kitchen/student">پیگیری خرید های دانشجو</a>
    <a href="/kitchen/changepass">تغییر رمز</a>
    <a id="kitchenLogout">خروج</a>
</header>