<header>
    <h1>سلف دانشگاه پیام نور</h1>
    <h3>خرید آسان ژتون سلف دانشگاه پیام نور واحد همدان</h3>
    <h4 id="studentMessage">صفحه دانشجو</h4>
    <a href="/student">صفحه اصلی</a>
    <a href="/student/buy">خرید ژتون</a>
    <a href="/student/credit">افزایش اعتبار</a>
    <a href="/student/changepass">تغییر رمز</a>
    <a href="/student/help">پشتیبانی</a>
    <a id="studentLogout">خروج</a>
</header>